<div v-show="modalVisible" class="absolute">
  <div class="fixed inset-0 flex items-center justify-center z-50"  >
    <div class="fixed inset-0 bg-black opacity-50" @click.self="modalVisible=false"></div>

    <div class="relative bg-white rounded-lg w-1/2">
      <div class="absolute top-0 right-0 m-4">
        <button
          @click="modalVisible=false"
          class="text-gray-500 hover:text-gray-800"
        >
          <svg
            class="w-6 h-6 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              d="M18.364 5.636a.999.999 0 0 0-1.414 0L12 10.586 7.05 5.636A.999.999 0 1 0 5.636 7.05L10.586 12l-4.95 4.95a.999.999 0 1 0 1.414 1.414L12 13.414l4.95 4.95a.999.999 0 1 0 1.414-1.414L13.414 12l4.95-4.95a.999.999 0 0 0 0-1.414z"
            />
          </svg>
        </button>
      </div>

      <div class="p-6">
        <div id="modal-content"></div>
      </div>
    </div>
  </div>
</div>
