<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <body class="flex">
    <%- include ('../partials/sidebar') %>
    <main class="flex flex-grow flex-col bg-gray-100 p-4 text-xl font-semibold">
      <button>click me</button>
      <select name="" id="">
        <option value="1">1</option>
        <option value="2">2</option>

      </select>
      <input type="text" name="" id="">
      <div class="flex-grow bg-green-100">Flujo de Caja</div>
      <button>hola</button>
    </main>
  </body>
</html>
