<!DOCTYPE html>
<html lang="en">
  <%- include ('../../partials/head') %>
  <body class="flex">
    <%- include ('../../partials/sidebar') %>
    <main class="flex flex-grow flex-col bg-gray-100 p-4 text-xl font-semibold">
      <div class="flex-grow bg-blue-200">Empleados</div>
    </main>
  </body>
</html>
