<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <script src="inicio/inicio.js"></script>
  <body class="flex">
    <%- include ('../partials/sidebar') %>
    <main class="flex flex-grow flex-col bg-gray-100 p-4">
      <div class="bg-gray-100">
      </div>
      <div class="bg-purple-200 p-4 flex justify-evenly mb-4 flex-grow"></div>
      <div class="bg-red-200 p-4 flex justify-evenly">
        <select name="" id="">
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
        </select>
        <select name="" id="">
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
        </select>
      </div>
    </main>
  </body>
</html>
