<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <script src="inicio/inicio.js"></script>
  <body class="flex">
    <%- include ('../partials/sidebar') %>
    <main class="flex flex-grow flex-col bg-gray-100 p-4">
      <div class="bg-gray-100">
        <h1 class="text-2xl font-semibold">Datos de Proyectos</h1>
        <table>
          <thead>
            <tr>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 1; i < proyectos.length; i++) { %>
            <tr>
              <% proyectos[i].forEach(cell => { %>
              <td><%= cell %></td>
              <% }); %>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="bg-purple-200 p-4 flex justify-evenly mb-4 flex-grow"></div>
      <div class="bg-red-200 p-4 flex justify-evenly">
        <select name="" id="">
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
        </select>
        <select name="" id="">
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
        </select>
      </div>
    </main>
  </body>
</html>
